---
interface Props {
  id: string;
  label?: string;
  errorId: string;
}

const { label = Astro.currentLocale === "fr" ? "Genre" : "Género", id, errorId } = Astro.props;
---

<div>
  <label class="mb-2 block text-sm text-neutral-800 dark:text-neutral-200">
    {label}
  </label>
  <div class="flex items-center space-x-4">
    <div>
      <input
        type="radio"
        id={`${id}-masculino`}
        name="genero"
        value="masculino"
        class="h-4 w-4 border-neutral-300 text-neutral-600 focus:ring-2 focus:ring-neutral-500 dark:border-neutral-600 dark:bg-neutral-700 dark:focus:ring-neutral-600 dark:ring-offset-neutral-800"
      />
      <label
        for={`${id}-masculino`}
        class="ms-2 text-sm font-medium text-neutral-900 dark:text-neutral-300"
      >Masculino</label>
    </div>
    <div>
      <input
        type="radio"
        id={`${id}-femenino`}
        name="genero"
        value="femenino"
        class="h-4 w-4 border-neutral-300 text-neutral-600 focus:ring-2 focus:ring-neutral-500 dark:border-neutral-600 dark:bg-neutral-700 dark:focus:ring-neutral-600 dark:ring-offset-neutral-800"
      />
      <label
        for={`${id}-femenino`}